<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- No Internet, contacts, storage, microphone or accessibility permissions. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <application android:allowBackup="false" android:fullBackupContent="false" android:dataExtractionRules="@xml/data_extraction_rules" android:label="@string/app_name"
        android:icon="@drawable/ic_tambola" android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider android:name=".ShareProvider" android:authorities="${applicationId}.shared" android:exported="false" android:grantUriPermissions="true" />
        <service android:name=".CallPlaybackService" android:exported="false" android:foregroundServiceType="mediaPlayback" />
        <activity android:name=".MainActivity" android:exported="true" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".TambolaInputMethod" android:label="@string/app_name"
            android:exported="true" android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter><action android:name="android.view.InputMethod" /></intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/input_method" />
        </service>
    </application>
</manifest>
